body{
    background-color: rgb(114, 178, 230);
}
img {
    height: 450px;
}
.mtungi {
    display: flex;margin: 100px;
    height: 30%;width: 80%;
}
.card {
    flex: 1;
    overflow: hidden;
}
.card img {
    object-fit: cover;
    filter: drop-shadow(1);
    float: left;
}
.card:hover img{
    filter: none;
}
.card img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }